services:
  postgresql:
    image: bitnami/postgresql:latest
    ports:
      - "5432:5432"
    env_file:
      - config/db.env
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U $POSTGRESQL_USERNAME -d $POSTGRESQL_DATABASE'"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
  database-migrations:
    image: database-migrations:latest
    build:
      context: .
    env_file:
      - config/db-alembic.env
    command: database-migrations
    depends_on:
      postgresql:
        condition: service_healthy
  device-statistics:
    image: device-statistics:latest
    build:
      context: .
    ports: ["8000:8000"]
    env_file:
      - config/device-statistics-app.env
    command: device-statistics
    depends_on:
      - database-migrations
      - device-registration
  device-registration:
    image: device-registration:latest
    build:
      context: .
    ports: ["9000:9000"]
    env_file:
      - config/device-registration-app.env
    command: device-registration
    depends_on:
      - database-migrations