services:
  postgresql:
    image: bitnami/postgresql:latest
    ports:
      - "5432:5432"
    env_file:
      - config/db.env
  database-migrations:
    image: database-migrations:latest
    build:
      context: .
    env_file:
      - config/db-alembic.env
    command: database-migrations
    depends_on:
      - postgresql
  device-statistics:
    image: device-statistics:latest
    build:
      context: .
    ports: ["8000:8000"]
    env_file:
      - config/device-statistics-app.env
    command: device-statistics 8000
    depends_on:
      - database-migrations
      - device-registration
  device-registration:
    image: device-registration:latest
    build:
      context: .
    ports: ["9000:9000"]
    env_file:
      - config/device-registration-app.env
    command: device-registration 9000
    depends_on:
      - database-migrations