---
namePrefix: ds-app

replicaCount:
  deviceStatistics: 2
  deviceRegistration: 2

image:
  pullPolicy: IfNotPresent
  repository: pfeiffermax/device-statistics
  tag: "0.3.0"

resources:
  apps:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 2Gi
  jobs:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 2Gi

podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: RuntimeDefault


securityContext:
  runAsNonRoot: true
  runAsUser: 10001
  runAsGroup: 10001
  seccompProfile:
    type: RuntimeDefault


service:
  type: ClusterIP
  port: 8000

ingress:
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

env:
  deviceStatistics:
    configMapRefName: ""
    secretRefName: ""
  deviceRegistration:
    configMapRefName: ""
    secretRefName: ""
  databaseMigrations:
    configMapRefName: ""
    secretRefName: ""

