DATABASE_USER=testuser
DATABASE_PASSWORD=supersecret
DATABASE_NAME=devicestatistics
DATABASE_ROLLBACK=false
DATABASE_HOST=postgresql
DATABASE_PORT=5432

API_DEVICE_REGISTRATION_BASE_URL=http://localhost:9000/device-registration/v1
API_DEVICE_REGISTRATION_PATH_DEVICE_REGISTER=Device/register

IDP_PUBLIC_KEY=foobar
IDP_ISS=https://auth.test.com