DATABASE_USER=testuser
DATABASE_PASSWORD=supersecret
DATABASE_NAME=devicestatistics
DATABASE_HOST=postgresql
DATABASE_PORT=5432
DATABASE_ALEMBIC_MIGRATION_ROLLBACK=false
DATABASE_ALEMBIC_MIGRATION_REVISION=false

UVICORN_PORT=9000